<div class="ui form segment">
  <%= form_for profile do |f| %>
    <%= render partial: "layouts/form_errors", locals: { errors: profile.errors } -%>
    <div class="field">
      Imię<br>
      <%= f.text_field :firstName %>
    </div>

    <div class="field">
      Nazwisko<br>
      <%= f.text_field :lastName %>
    </div>

    <div class="field">
      Stanowisko / kierunek / profil<br>
      <%= f.text_field :job %>
    </div>

    <div class="field">
      Firma / Uczelnia / Szkoła <br>
      <%= f.text_field :place %>
    </div>

    <div class="field">
      nr albumu / legitymacji (dotyczy tylko studentów/uczniów) <br>
      <%= f.text_field :album %>
    </div>

    <div class="ui small buttons">
      <%= yield :form_buttons %><br>
      <%= f.submit "Zapisz", class: "ui green positive button" %>
    </div>
  <% end %>
</div>