<div class="ui form segment">
  <%= form_for profile do |f| %>
    <%= render partial: "layouts/form_errors", locals: { errors: profile.errors } -%>
    <div class="field">
      Imię<br>
      <%= f.text_field :firstName %>
    </div>

    <div class="field">
      Nazwisko<br>
      <%= f.text_field :lastName %>
    </div>

    <div class="field">
      Profil
      <div class="ui fluid selection dropdown">
        <div class="text">Wybierz opcje</div>
        <i class="dropdown icon"></i>
        <%= f.hidden_field :job %>
        <div class="menu">
          <div class="item" data-value="uczen">Uczeń</div>
          <div class="item" data-value="student">Student</div>
          <div class="item" data-value="pracownik">Pracownik</div>
          <div class="item" data-value="nauczyciel">Nauczyciel</div>
        </div>
      </div>
    </div>

    <div class="field">
      Szkoła, Uczelnia, Firma<br>
      <%= f.text_field :place %>
    </div>

    <div class="field">
      nr albumu / legitymacji (dotyczy tylko studentów/uczniów) <br>
      <%= f.text_field :album %>
    </div>

    <div class="field">
      nr telefonu (dotyczy tylko nauczycieli/opiekunów) <br>
      <%= f.text_field :phone %>
    </div>

    <div class="ui small buttons">
      <%= yield :form_buttons %><br>
      <%= f.submit "Zapisz", class: "ui green positive button" %>
    </div>
  <% end %>
</div>