<div class="ui piled segment">
	<div class="ui ribbon label"><%= profile.job %></div>
	<br />
	<div class="ui teal ribbon label"><%= profile.place %></div>
	<br /><br />

	<p>
		<%= profile.firstName %>
		<%= profile.lastName %>
	</p>

	<% if profile.album =! "" %>
		<div class="ui red ribbon label"><%= profile.album %></div><br />
		<div class="ui red ribbon label"><%= profile.universityCode %></div><br />
		<div class="ui red ribbon label"><%= profile.fieldOfStudy %></div>
	<% end %>
</div>