<h1 class="ui center aligned header"><%= image_tag avatar_url(profile.user), class: "ui avatar image" -%><%= profile.firstName -%> <%= profile.lastName -%></h1>
<div class="ui ribbon label">Stanowisko / kierunek</div><%= profile.job -%><br />
<div class="ui teal ribbon label">Firma / uczelnia</div><%= profile.place -%><br />
<%- if not profile.album.empty? -%>
	<div class="ui red ribbon label">Nr indeksu / legitymacji</div><%= profile.album %>
<%- end -%>
