<div class="ui piled segment">
	<h1 class="ui header"><%= profile.firstName %> <%= profile.lastName %></h1>
	<div class="ui ribbon label"><%= profile.job %></div>
	<br />
	<div class="ui teal ribbon label"><%= profile.place %></div>
	<br />
	<%- if profile.album =! "" -%>
		<div class="ui red ribbon label"><%= profile.album %>
	<%- end -%>
</div>