<div class="ui two column grid">
  <div class="column">
    <div class="ui form segment">
      <%= form_for @profile do |f| %>
        <%= render partial: "layouts/form_errors", locals: { errors: @profile.errors } -%>
        <div class="field">
          Imię<br>
          <%= f.text_field :firstName %>
        </div>

        <div class="field">
          Nazwisko<br>
          <%= f.text_field :lastName %>
        </div>

        <div class="field">
          Tytuł zawodowy<br>
          <%= f.text_field :job %>
        </div>

        <div class="field">
          Zamieszkiwane miasto<br>
          <%= f.text_field :place %>
        </div>

        <div class="ui small buttons">
          <%= yield :form_buttons %><br>
          <%= f.submit "Zapisz", class: "ui green positive button" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="column">
    <div class="ui piled feed segment">
      <h1 class="ui header">Oto drugi krok zakładania konta w panelu uczestnika.</h1>
      <br/>
      Profil użytkownika jest niezbędny do uzyskania statusu uczestnika. Na profilu znajduje sie imię, nazwisko, miejsce pracy oraz miasto. Prosimy o poprawne uzupełnienie profilu.
    </div>
  </div>
</div>
