<br /><br />
<div class="ui piled feed segment">
  <h2 class="ui header">
    Oto drugi krok zakładania konta w panelu uczestnika.
  </h2>
  <div class="event">
     Profil użytkownika jest niezbędny do uzyskania statusu uczestnika. Na profilu znajduje sie imię, nazwisko, miejsce pracy oraz miasto. Prosimy o poprawne uzupełnienie profilu.
  </div>
</div>

<div class="ui form segment">

  <%= form_for @profile do |f| %>
  <% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@profile.errors.count, "error") %></h2>
    <ul>
      <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    Imię<br>
    <%= f.text_field :firstName %>
  </div>

  <div class="field">
    Nazwisko<br>
    <%= f.text_field :lastName %>
  </div>

  <div class="field">
    Tytuł zawodowy<br>
    <%= f.text_field :job %>
  </div>

  <div class="field">
    Zamieszkiwane miasto<br>
    <%= f.text_field :place %> 
  </div>

  <div class="ui small buttons">
    <%= yield :form_buttons %><br>
    <%= f.submit class: "ui green positive button" %>
  </div>
  <% end %>

</div>
