<%= form_for(@lecture_group) do |f| %>
  <% if @lecture_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture_group.errors.count, "error") %> prohibited this lecture_group from being saved:</h2>

      <ul>
      <% @lecture_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
