<div class="ui form segment">
	<h1 class="ui header">Wyślij ponownie link aktywacyjny</h1>
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
		<div class="ui error message">
			<%= devise_error_messages! %>
		</div>

		<div class="field">
		  Adres email
		  <%= f.email_field :email, :autofocus => true %>
		</div>

		<div class="ui small buttons">
			<%= f.submit "Wyślij ponownie link aktywacyjny", class: 'ui green confirm button' %>
			<%= render "devise/shared/links" %>
		</div>

	<% end %>
</div>