<div class="ui form segment">

<%= form_for @lecture do |f| %>
    <%= render partial: "layouts/form_errors", locals: { errors: @lecture.errors } -%>

    <div class="field">
      <%= f.label 'Nazwa' %><br/>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label 'Opis' %><br/>
      <%= f.text_area :description %>
    </div>

    <div class="ui three column grid">
      <div class="column">
        <div class="field">
          <%= f.label 'Data rozpoczęcia' %><br/>
          <%= f.datetime_select :start_date %>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <%= f.label 'Czas trwania (min)' %><br/>
          <%= f.number_field :duration %>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <%= f.label 'Pomieszczenie' %><br/>
          <%= f.collection_select :room_id, available_rooms, :id, :title %>
        </div>
      </div>
    </div>

    <div class="ui small buttons">
      <%= yield :form_buttons %>
      <%= f.submit "Zapisz", class: "ui green positive button" %>
    </div>
  <% end %>

</div>
