  <div class="ui relax divided selection list">

    <% lectures.sort_by{ |e| e[:start_date] }.each do |lecture| %>

    <div class="item">
      <div class="ui horizontal label"><%= l lecture.start_date, format: :short %></div>
      <%= lecture.title -%>

      <div class="ui right floated tiny buttons">
        <%- if can? :read, lecture -%>
          <%= link_to 'Zobacz', lecture, class: "ui teal button" %>
        <%- end -%>

        <%- if can? :edit, lecture -%>
          <%= link_to 'Edytuj', edit_lecture_path(lecture), class: "ui positive button" %>
        <%- end -%>

        <%- if can? :destroy, lecture -%>
          <%= link_to 'Usuń', lecture, class: "ui negative button", method: :delete, data: {confirm: "You sure?"} %>
        <%- end -%>

        <%- if @lecture_group and can? :edit, LectureGroup-%>

          <%- if @lecture_group.lectures.exclude? lecture -%>

            <%= form_tag add_lecture_path do -%>
              <%= hidden_field_tag :lecture_id, lecture.id -%>
              <%= submit_tag "Dodaj do grupy", class: "ui orange button" -%>
            <%- end -%>

          <%- else -%>

            <%= form_tag remove_lecture_path do -%>
              <%= hidden_field_tag :lecture_id, lecture.id -%>
              <%= submit_tag "Usuń grupy", class: "ui orange button" -%>
            <%- end -%>

          <%- end -%>

        <%- end -%>
      </div>

    </div>

    <% end %>

  </div>