<div class="ui two column grid">
	<div class="column">
		<%= render "preview" %>
	</div>
	<div class="column">
		<%- @room = @lecture.room -%>
		<%= render partial: "rooms/preview" %>
	</div>
</div>

<div class="ui small buttons">
	<%= link_to 'Back', lectures_path, class: "ui red button" %>

	<%- if can? :edit, @lecture -%>
	<%= link_to 'Edit', edit_lecture_path(@lecture), class: "ui small positive button" %>
	<%- end -%>

	<%- if can? :attend, @lecture -%>
	<%= link_to 'Attend', attend_lecture_path, class: "ui small positive button" %>
	<%- end -%>

	<%- if can? :resign, @lecture -%>
	<%= link_to 'resign', resign_lecture_path, class: "ui small positive button" %>
	<%- end -%>
</div>
