<%- title("Szczegóły wydarzenia - #{@lecture.title}") -%>

<div class="ui two column stackable grid">
	<div class="column">
		<div class="ui stacked green segment">
			<%= render "preview" %>
		</div>

		<%- if @lecture.lecture_group_id.blank? -%>
			<div class="ui stacked teal segment">
				<h1 class="header">Powiązane wydarzenia</h1>
				<%= render partial: "lectures/list", locals: { lectures: @lecture.lecture_group.lectures } -%>
			</div>
		<%- end -%>

		<div class="ui small buttons">
			<%= link_to 'Wróć', :back, class: "ui red button" %>
			<%= link_to 'Edytuj', edit_lecture_path(@lecture), class: "ui small positive button" if can? :edit, @lecture %>
			<%= link_to 'Weź udział', attend_lecture_path, class: "ui small positive button" if can? :attend, @lecture %>
			<%= link_to 'Zrezygnuj', resign_lecture_path, class: "ui small positive button" if can? :resign, @lecture %>
			<%= link_to 'Modifikuj uczestników', modify_lecture_users_path, class: "ui small teal button" if can? :modify, @lecture -%>
		</div>
	</div>
	<div class="column">
		<%- @room = @lecture.room -%>
		<%= render partial: "rooms/preview" %>
	</div>
</div>
