<%- title("Rejestracja") -%>

<div class="ui two column grid">

	<div class="column">
		<div class="ui form segment">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

			<%= render partial: "layouts/form_errors", locals: { errors: resource.errors } -%>

			<div class="field">
				<%= f.label "Adres email" -%>
				<div class="ui left labeled icon input">
					<%= f.email_field :email, :autofocus => true %>
					<i class="user icon"></i>
					<div class="ui corner label">
						<i class="icon asterisk"></i>
					</div>
				</div>
			</div>

			<div class="field">
				<%= f.label "Hasło" -%>
				<div class="ui left labeled icon input">
					<%= f.password_field :password %>

					<i class="lock icon"></i>
					<div class="ui corner label">
						<i class="icon asterisk"></i>
					</div>
				</div>
			</div>

			<div class="field">
				<%= f.label "Powtórz hasło" -%>
				<div class="ui left labeled icon input">
					<%= f.password_field :password_confirmation %>

					<i class="lock icon"></i>
					<div class="ui corner label">
						<i class="icon asterisk"></i>
					</div>
				</div>
			</div>

			<div class="field">
				<div class="ui checkbox">
					<%= f.check_box :acceptMarketingTerms %>
					<%= label_tag :acceptMarketingTerms, "Chcę być informowany o innych wydarzeniach tego typu" -%>
				</div>
			</div>	

			<div class="field">
				<div class="ui checkbox">
					<%= f.check_box :acceptTerms %>
					<%= label_tag :acceptTerms, "Akceptuje regulamin konferencji Check IT 2014" -%>
				</div>
			</div>

			<div class="ui small buttons">
				<%= f.submit "Zarejestruj", class: 'ui green submit button' %>
			</div>
			<% end %>
		</div>
	</div>

	<div class="column">
		<div class="ui piled feed segment">
			<h1 class="ui header">Oto pierwszy krok do założenia konta w panelu uczestnika.</h1>
			<br />
			 Aby zostać uczestnikiem konferencji Check IT musisz się zarejestrować poprzez panel uczestnika. Po podaniu wymaganych danych na Twój e-mail zostanie wysłany link aktywacyjny. Aktywuj konto i uzupełnij swój profil.
		</div>
	</div>

</div>