<div class="ui buttons">
	<%= link_to 'Users', admin_users_path, class: "ui button" %>
	<% if @users != nil %>
		<%= link_to '#', class: "ui green icon button" do %>
			<i class="add icon"></i>
		<% end %>
	<% end %>
</div>
<div class="ui buttons">
	<%= link_to 'Lectures', admin_lectures_path, class: "ui button" %>
	<% if @lectures != nil %>
		<%= link_to '#', class: "ui green icon  button" do %>
			<i class="add icon"></i>
		<% end %>
	<% end %>
</div>
<div class="ui buttons">
	<%= link_to 'Speakers', '#', class: "ui button" %>
	<% if @speakers != nil %>
		<%= link_to '#', class: "ui green icon button" do %>
			<i class="add icon"></i>
		<% end %>
	<% end %>
</div>
<div class="ui buttons">
	<%= link_to 'Sponsors', '#', class: "ui button" %>
	<% if @sponsors != nil %>
		<%= link_to '#', class: "ui green icon button" do %>
			<i class="add icon"></i>
		<% end %>
	<% end %>
</div>
<div class="ui buttons">
	<%= link_to 'Organizers', '#', class: "ui button" %>
	<% if @organizers != nil %>
		<%= link_to '#', class: "ui green icon button" do %>
			<i class="add icon"></i>
		<% end %>
	<% end %>
</div>