<div class="ui form segment">
	<h1 class="ui header">Wyślij instrukcje odblokowujące konto</h1>
	<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
		<div class="ui error message">
			<%= devise_error_messages! %>
		</div>

		<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true %>
		</div>

		<div class="ui small buttons">
			<%= f.submit "Wyślij instrukcje odblokowujące konto", class: "ui green submit button" %>
			<%= render "devise/shared/links" %>
		</div>
	<% end %>
</div>
