<%- title("Instrukcje odblokowujące konto") -%>

<div class="ui form segment">
	<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>

		<%= render partial: "layouts/form_errors", locals: { errors: resource.errors } -%>

		<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true %>
		</div>

		<div class="ui small buttons">
			<%= f.submit "Wyślij instrukcje odblokowujące konto", class: "ui green submit button" %>
			<%= render "devise/shared/links" %>
		</div>
	<% end %>
</div>
