<div class="ui relax divided selection list">
	<% users.each do |user| %>
	<div class="item">
		<%- if can? :see_role, User -%>
			<div class="ui left floated label"><%= user.user_role %></div>
		<%- end -%>

		<%= user.email %>

		<% if user.profile %>
			- <b><%= user.profile.firstName %> <%= user.profile.lastName %></b>
		<% end %>

		<div class="ui right floated small buttons">
			<% if can? :see_profile, user %>
				<%= link_to "Zobacz profil", profile_path(user.profile.id), class: "ui blue button" %>
			<% end %>

			<%- if can? :edit, user -%>
				<%= link_to "Edytuj", edit_user_path(user), class: "ui green button" %>
			<%- end -%>

			<%- if can? :destroy, user -%>
				<%= link_to "Usuń", user, class: "ui red button", method: :delete, data: { confirm: "Na pewno?"} %>
			<%- end -%>
		</div>

	</div>
	<% end %>
</div>