<div class="ui relax divided selection list">
	<%- users.each do |user| -%>

	<div class="item">
		<%- if show_controls and can? :see_role, User -%>
			<div class="<%= user.confirmed_at ? 'ui green label' : 'ui black label' %>"> <%= user.user_role %></div>
		<%- end -%>

		<%= user.email + ' ' if show_controls -%>

		<b><%= user.profile.firstName + ' ' + user.profile.lastName if user.profile -%></b>

		<div class="ui right floated small buttons">
			<%- if user.profile and can? :see_profile, user -%>
				<%= link_to "Profil", user.profile, class: "ui blue button" %>
			<%- end -%>

			<%- if show_controls -%>
				<%- if can? :edit, user -%>
					<%= link_to "Edytuj", edit_user_path(user), class: "ui green button" %>
				<%- end -%>

				<%- if can? :destroy, user -%>
					<%= link_to "Usuń", user, class: "ui red button", method: :delete, data: { confirm: "Na pewno?"} %>
				<%- end -%>
			<%- end -%>
		</div>
	</div>
	<%- end -%>
</div>