<%- title('Lista użytkowników') -%>

<% if @users != nil %>

	<%- if can? :see_inactive, User -%>
		<div class="ui piled segment">
			<%= render partial: "list", locals: { users: @users.inactive.sort_by { |u| u[:user_role] }, show_controls: true } -%>
		</div>
	<%- end -%>
	<div class="ui piled segment">

		

		<%= form_tag users_path, :method => 'get' do %>
		  <p>
		    <%= text_field_tag :phrase, params[:phrase] %>
		    <%= submit_tag "Szukaj", :name => nil %>
		  </p>
		<% end %>
	</div>
	<div class="ui piled segment">
		<%= render partial: "list", locals: { users: @users.active.sort_by { |u| u[:user_role] }, show_controls: true } -%>
	</div>
<% else %>
	<h4>Brak wyników wyszukiwania</h4>
<% end %>
