<div class="ui form segment">
	<h1 class="ui header">Zmień hasło</h1>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>

		<%= render partial: "layouts/form_errors", locals: { errors: resource.errors } -%>

		<%= f.hidden_field :reset_password_token %>

		<div class="field">
			<%= f.label :password, "Nowe hasło" %>
			<%= f.password_field :password, :autofocus => true %>
		</div>

		<div class="field">
			<%= f.label :password_confirmation, "Powtórz hasło" %>
			<%= f.password_field :password_confirmation %>
		</div>

	 	<div class="ui small buttons">
			<%= f.submit "Zmień hasło", class: 'ui green button' %>
			<%= render "devise/shared/links" %>
	  	</div>

	<% end %>
</div>