<div class="ui form segment">
	<h2 class="ui header">Forgot your password?</h2>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

		<div class="ui error message">
			<%= devise_error_messages! %>
		</div>

		<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true %>
		</div>

		<div class="ui small buttons">
			<%= render "devise/shared/links" %>
			<%= f.submit "Wyślij instrukcje resetujące hasło", class: 'ui green submit button' %>
	  	</div>

	<% end %>
</div>