<%- title("Panel uczestnika Check IT 2014") -%>

<%= render 'contents/header_content' %>

<div class="ui piled feed segment">
  <h2 class="ui header">
    Witaj w panelu uczestnika!
  </h2>
  	Witaj w panelu uczestnika, w tym miejscu możesz wypełnić swój profil, zapisać się na zajęcia praktyczne oraz konkursy. Dodatkowo informacje, które podasz w swoim profilu zostaną użyte do stworzenia identyfikatora uczestnika.
</div>
<div class="ui three column stackable grid">
	<div class="column">
	    <div class="ui segment myprofileSegment">
	      	<i class="circular user huge icon"></i>
	    	<br />
	    	<br />
	      		Stworzenie profilu to pierwszy krok na drodze do uzskania statusu uczestnika konferencji. Jest on niezbędny do stworzenia identyfikatora
      		<br />
      		<br /><br />
	      	<% if current_user.profile %>
	      		<%= link_to 'Zobacz swój profil', profiles_path, class: "ui green button" %>
	      	<% else %>
	      		<%= link_to 'Stwórz profil', new_profile_path, class: "ui green button" %>
	      	<% end %>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular browser huge icon"></i>
	    	<br />
	    	<br />
	      		Aby wziąć udział w niektórych zajęciach musisz się zapisać na nie. Liczba miejsc jest ograniczona dlatego obowiązuje zasada pierwszych osób zapisanych na dane zajęcia.
      		<br />
      		<br />
	      	<% if current_user.profile %>
	      		<%= link_to "Zapisz się na wykłady", lectures_path, class: "ui green button" -%>
	      	<% else %>
	      		<a class="ui green button disabled withPopup">Zapisz się na wykłady</a>
	      	<% end %>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular ticket huge icon"></i>
	    	<br />
	    	<br />
	      		Dla pierwszych 400 uczesników mamy darmowe przejazdy autobusowe w dniu konferencji. Zapoznaj się z instrukcją darmowego biletu MPK.
      		<br />
      		<br />
	    	<br />
	    	<% if current_user.profile %>
	    		<%= link_to "Zdobądź darmowy przejazd ZTM", panel_ztm_path, class: "ui green button" -%>
	      	<% else %>
	      		<a class="ui green button disabled withPopup">Zgarnij darmowy przejazd MPK</a>
	      	<% end %>
	    </div>
	</div>
</div>
<br />
<br />
<br />
