<div class="ui form segment">

  <%= form_for @room do |f| %>

   <%= render partial: "layouts/form_errors", locals: { errors: @room.errors } -%>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>

  <div class="ui small buttons">
    <%= yield :form_buttons %>
    <%= f.submit "Zapisz", class: "ui green positive button" %>
  </div>
<% end %>

</div>
