<%- if can? :manage, Room -%>
  <div class="ui buttons">
    <%- if can? :create, Room -%>
      <%= link_to "Add room", new_room_path, class: "ui green button" -%>
    <%- end -%>
  </div>
<%- end -%>

<div class="ui relaxed divided selection list">
    <% @rooms.each do |room| %>
      <div class="item">
        <div class="ui horizontal label"><%= room.capacity %></div>

        <%= link_to room.title, room, class: "header" %>

        <div class="ui right floated small buttons">
          <%- if can? :edit, room -%>
            <%= link_to 'Edit', edit_room_path(room), class: "ui positive button" %>
          <%- end -%>

          <%- if can? :destroy, room -%>
            <%= link_to 'Delete', room, class: "ui negative button", method: :delete, data: {confirm: "You sure?"} %>
          <%- end -%>
        </div>
      </div>
    <% end %>
</div>
