<div class="ui relaxed grid">
<div class="four wide column"></div>
	<div class="eight wide column">
		<div class="buttons">
			<div class="ui button"> <%= link_to 'Users', admin_users_path %></div>
			<div class="ui button"> <%= link_to 'Lectures', '#' %></div>
			<div class="ui button"> <%= link_to 'Speakers', '#' %></div>
			<div class="ui button"> <%= link_to 'Sponsors', '#' %></div>
			<div class="ui button"> <%= link_to 'Organizers', '#' %></div>
		</div>	
	</div>
<div class="four wide column"></div>
</div>
