<%- title('Statystyki') -%>

<div class="ui four column grid">
	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular user huge icon"></i>
	    	<h3>Wszystkich użytkowników</h3>
	      	<h2><%= @users[:all] %></h2>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular user huge icon"></i>
	    	<h3>Potwierdzili e-maile</h3>
	    	<h2><%= @users[:approvedUsers] %></h2>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular user huge icon"></i>
	    	<h3>Nie potwierdzili e-maili</h3>
    		<h2><%= @users[:unapproved] %></h2>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular ticket huge icon"></i>
	    	<h3>Wybrali bilet ZTM</h3>
	    	<h2><%= @users[:withTickets] %>
	    </div>
	</div>
</div>

<div class="ui four column grid">
	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular user huge icon"></i>
	    	<h3>Z profilem</h3>
	      	<h2><%= @users[:withProfile] %></h2>
	    </div>
	</div>

	<div class="column">
	    <div class="ui segment myprofileSegment">
	    	<i class="circular user huge icon"></i>
	    	<h3>Bez profilu</h3>
	    	<h2><%= @users[:withoutProfile] %></h2>
	    </div>
	</div>

	<div class="column">

	</div>

	<div class="column">

	</div>
</div>