<div class="ui inverted page grid masthead segment">
        <div class="column">
            <div class="inverted secondary pointing ui menu">

                <%= link_to 'Strona startowa', root_path, class: "header item" %>

                <%- if can? :read, User -%>
                    <%= link_to 'Użytkownicy', users_path, class: "header item" %>
                <%- end -%>

                <%- if can? :read, Lecture -%>
                    <%= link_to 'Wydarzenia', lectures_path, class: "header item" %>
                <%- end -%>

                <%- if can? :read, Room -%>
                    <%= link_to 'Miejsca', rooms_path, class: "header item" %>
                <%- end -%>

                <%- if can? :read, Stat -%>
                    <%= link_to 'Statystyki', stats_path, class: "header item" %>
                <%- end -%>

                <%- if can? :read, Content -%>
                    <%= link_to 'Treść', contents_path, class: "header item" %>
                <%- end -%>

                <div class="right menu">
                    <% if user_signed_in? %>
                        <div></div>
                        <div class="item"><%= current_user.email %></div>
                        

                        <div class="ui dropdown link item">
                        Ustawienia
                            <i class="dropdown icon"></i>
                            <div class="menu ui transition hidden">
                                <%= link_to 'Ustawienia logowania', edit_user_registration_path, :class => 'item' %>
                                <%= link_to 'Ustawienia profilu', edit_user_registration_path, :class => 'item' %>
                                <%= link_to 'Ustawienia regulminów', edit_user_registration_path, :class => 'item' %>
                                
                            </div>
                        </div>

                        <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'item'  %>
                    <% else %>
                        <%= link_to "Rejestracja", new_user_registration_path, :class => 'item'  %> |
                        <%= link_to "Logowanie", new_user_session_path, :class => 'item'  %>
                    <% end %>
                </div>
            </div>

            <%= yield :mainbar %>
    </div>
</div>
