<div class="ui inverted page grid masthead segment">
        <div class="column">
            <div class="inverted secondary pointing ui menu">

                <%= link_to 'Home', root_path, class: "header item" %>

                <%- if can? :read, User -%>
                    <%= link_to 'Użytkownicy', users_path, class: "header item" %>
                <%- end -%>

                <%- if can? :read, Lecture -%>
                    <%# link_to 'Wydarzenia', lectures_path, class: "header item" %>
                <%- end -%>

                <%- if can? :read, Room -%>
                    <%= link_to 'Pomieszczenia', rooms_path, class: "header item" %>
                <%- end -%>

                <div class="right menu">
                    <% if user_signed_in? %>
                        <div></div>
                        <div class="item"><%= current_user.email %></div>
                        <%= link_to 'Ustawienia logowania', edit_user_registration_path, :class => 'item' %>
                        <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'item'  %>
                    <% else %>
                        <%= link_to "Rejestracja", new_user_registration_path, :class => 'item'  %> |
                        <%= link_to "Logowanie", new_user_session_path, :class => 'item'  %>
                    <% end %>
                </div>
            </div>

            <%= yield :mainbar %>
        </div>
    </div>
